---
import { Icon } from 'astro-icon/components';
---

<div class="qr-output" id="qrOutput">
	<canvas id="qrCanvas"></canvas>
	<button class="download-btn" id="downloadBtn">
		<Icon name="lucide:download" class="icon" style="margin-right: 0.5rem;" />
		Download QR Code
	</button>
</div>
